.body { 
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 30px;
    padding-left: 30px;
    border: 2px solid ;
    border-radius: 2%;
    display: grid;

}

ul{ border-bottom: 1px solid;
    list-style: none;
    border: 1px solid ;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10%;
}

h4{
    font-weight: bold;
    color: rgb(56, 3, 23);
}

h2{
    font-weight: bolder;
    padding-left: 75px;
    padding-top: 30px;
}

button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    touch-action: none;
    border-radius: 10%;
}
button:hover{
    background-color: whitesmoke;
    font-weight: bold;
}
a{
    color: black;

}
a:hover{
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 10%;
}
.b1{
    margin-bottom: 50px;
    padding: 5px;
    margin-right: 30px;
    background-color: rgb(131, 131, 240);
    font-size: large;
    font-weight: bold;
}
i{
    padding-right: 20px;
    width: 30px;
}
